{% extends 'layouts/base.html.twig' %}


{% block title 'Modifier un utilisateur ' %}


{% block body %}
    <h1 class="mb-5 alert alert-danger font-weight-normal text-center shadow rounded-0 display-1" style="font-family: 'Pacifico', cursive;">Chat-Line</h1>
    <div class="text-center mt-3">
        <h1><a href="{{ path('app_discuss')}}" class="btn btn-info">back !!</a></h1>
    </div>
    <div class="">
        <div class="col-10 mx-auto m-5">
        <h1 class="text-center m-5 text-info" style="font-family: 'Pacifico', cursive;">Edit my profile</h1>
        <div class="content">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-user shadow-lg p-3 m-1 bg-white rounded">
              <div class="image">
                <img class="card-img img-fluid" src="{{asset('images/background.jpg')| imagine_filter('squared_thumbnail_profil')}}" alt="...">
              </div>
              <div class="card-body">
                <div class=" text-center">
                
                     <img src="{{(app.user.imageName ? vich_uploader_asset(app.user): asset('images/gravatar.png'))|imagine_filter('squared_thumbnail_min')}} " alt="..." class="rounded-circle shadow avatar " style="margin-top:-60px ">

                    <h5 class="title mt-3">{{app.user.pseudo}} </h5>
                
                  <p class="text-info">
                    
                  </p>
                </div>
                <p class="description text-center mt-2">    
                    
                </p>
              </div>
        
            </div>
          </div>
          <div class="col-md-8">
            <div class="card card-user shadow-lg p-3 m-1 bg-white rounded">
              <div class="card-header">
                <h5 class="card-title">Edit my profile</h5>
              </div>
              <div class="card-body">
                {{ form_start(monForm) }}
         
                  <div class="row">
                    <div class="col-md-8 m-5">
                      <div class="form-group">
                       {{form_row(monForm.pseudo)}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 pr-1 m-5">
                        <div class="form-group">{{ form_widget(monForm)}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <input class="btn btn-danger btn-block" type="submit" value="Mettez à jour" formnovalidate >
                    </div>
                  </div>
                {{ form_end(monForm) }}

              </div>
            </div>
          </div>
        </div>
      </div>

        </div>
    </div>
  
  
{% endblock %}